.line-chart-wrapper {
  padding: 0.2vh 4vw;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .line-chart-wrapper {
    padding: 1.2vh 15vh;
    margin: 0 auto;
  }
}

.dropdown {
  margin-bottom: 5vh;
}